{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about" style="background-color: #635da9; color:white;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.about.content }}<p style="color:white;">{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-sm">
                <div class="block wow fadeInRight text-center" data-wow-delay=".3s" data-wow-duration="500ms">
                    <div class="row justify-content-center">
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm about-number">
                                    {{ with .Site.Params.about.days_number }}<span>{{ . }}</span>{{ end }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm about-text">
                                    {{ with .Site.Params.about.days_desc }}<span>{{ . }}</span>{{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 offset-sm-1">
                            <div class="row">
                                <div class="col-sm about-number">
                                    {{ with .Site.Params.about.talks_number }}<span>{{ . }}</span>{{ end }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm about-text">
                                    {{ with .Site.Params.about.talks_desc }}<span>{{ . }}</span>{{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}