{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="pug" style="background-color: white; color:black;">
    <div class="container-fluid pug-title" style="background-color: #6181B6; color:white; width:100%;">
        <div class="row" style="text-align: center;">
            <div class="col-sm">
                <h2>Chi sono i protagonisti di questa edizione?</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {{ range .Site.Params.Pug}}
        <div class="row pug-row">
            <div class="col-sm">
                <div class="block wow fadeInRight text-center" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{{ .icon }}">
                </div>
            </div>
            <div class="col-sm">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h4>{{ .title }}</h4>
                    <p style="color:black;">{{ .abstract | safeHTML }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}